.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.featureImage {
  display: block;
  margin: 0 auto;
  width: 620px;
  max-width: 95%;
  height: auto;
}